body{
	background-color: #454d54!important;
}
.nav-tabs>li>a {
  background-color: #22262a !important ; 
  border-color: #777777 !important;
  color:#fff !important;
}
.nav-tabs>li:focus {
	  background-color: #111111 !important; 
  border-color: #777777 !important;
  color:#fff !important;
}
/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff !important;
  background-color: #666 !important;
  border: 1px solid #888888 !important;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000 !important;
  background-color: #111111 !important;
}
.nav-tabs {
    border-bottom: 1px solid #888888 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	 background-color: #111111 !important; 
  border-color: #777777 !important;
  color:#fff !important;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.header{
	 display: flex;
	 flex-direction:column;
}

.textHeader{
	    color: #fff!important;
	float:left;
	padding: 0 !important;
	font-size: large!important;
	 -webkit-user-select: none;
	-webkit-app-region: drag;
}

header {
	    background-color: #343a40!important;
	display: flex;
	flex-direction:row-reverse;
	justify-content: flex-start;
	align-self: stretch;
		 -webkit-user-select: none;
	-webkit-app-region: drag;
	
}

.xButton, ._Button{
		    color: #fff!important;
  float: right;
  padding: 0px 16px !important;
	font-size: large!important;
	margin:0!important;
	-webkit-app-region: no-drag;
}

.xButton:hover{
	background: red;
}
._Button:hover{
	background: #585858;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 24px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

/* .number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 1.5px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
 */
.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
}

select option::selection,
select option:visited,
select option:focus-within,
select option:hover,
    select option:focus,
    select option:active {
        background: linear-gradient(#22262a, #22262a);
        background-color: #22262a !important; /* for IE */
        color: white !important;
		-webkit-text-fill-color: white;
    }
select option:not(:focus),
select option:not(:active),
select {
	color:white !important;
}
    select option:checked {
        background: linear-gradient(#22262a, #22262a);
        background-color: #22262a !important; /* for IE */
        color: white !important;
		-webkit-text-fill-color: white;
    }
select:-internal-list-box option:checked {
    color: white !important;
}
::-webkit-scrollbar-track {
  background: #394046; 
}
 

::-webkit-scrollbar-thumb {
  background: #343a40!important; 
}


::-webkit-scrollbar-thumb:hover {
  background: #22262a !important; 
}

::-webkit-scrollbar {
  width: 3px;
}